<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="./aboutUs.js"></script>
    <link rel="stylesheet" href="./aboutUs.css">
    <title>Document</title>
</head>
<body>
        <figure class="snip1104 red">
                <img src="../Images/john.jpeg" alt="sample33" />
                <figcaption>
                  <h2>John  <span> Benedict</span></h2>
                </figcaption>
                <a href="#"></a>
              </figure>
              <figure class="snip1104 "><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample34.jpg" alt="sample34" />
                <figcaption>
                  <h2>TJ  <span> Fledy</span></h2>
                </figcaption>
                <a href="#"></a>
              </figure>
              <figure class="snip1104 "><img src="../Images/Sent Deyassa.png" />
                <figcaption>
                  <h2>Sent  <span> Deyassa</span></h2>
                </figcaption>
                <a href="#"></a>
              </figure>
              <figure class="snip1104"><img src="../Images/Andrew Johnson.png" alt="sample35" />
                <figcaption>
                  <h2>Andrew <span> Johnson</span></h2>
                </figcaption>
                <a href="#"></a>
              </figure>
</body>
</html>