<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./Landding.css">;
    <script src="./landing.js"></script>
    
    
    <title>Get2It</title>
</head>
<body>
    <header class="showcase">
        <div class="content">
          <img src="../Images/logo.png" class="logo" alt="Get2It">
          <div class="title">
            Welcome To Get2It
          </div>
          <div class="text">
            Your Best Task Managing App
          </div>
        </div>
      </header>
    
      <!-- Services -->
      <section class="services">
        <div class="container grid-3 center">
          <div>
            <i class="fab fa-youtube fa-3x"></i>
            <h3>Login</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil, reiciendis!</p>
          </div>
          <div>
            <i class="fas fa-chalkboard-teacher fa-3x"></i>
            <h3>New User</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil, reiciendis!</p>
          </div>
          <div>
            <i class="fas fa-briefcase fa-3x"></i>
            <h3>About Get2It</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil, reiciendis!</p>
          </div>
        </div>
      </section>
    
      <!-- About -->
      <section class="about bg-light">
        <div class="container">
          <div class="grid-2">
            <div class="center">
              <i class="fas fa-laptop-code fa-10x"></i>
            </div>
            <div>
              <div class="aboutus">
              <ul class="menu cf">
                <li><a href="#">Home</a></li>
                <li>
                  <a href="#">About Us</a>
                  <ul class="submenu">
                    <li><a href="#">Front End</a></li>
                    <li><a href="#">Back End</a></li>
                    <li><a href="#">Team lead</a></li>
                    <li><a href="#">JavaScript</a></li>
                  </ul>
                </li>
                <li><a href="#">Contacts</a></li>
              </ul>
            </div>
            </div>
          </div>
        </div>
      </section>
    
      <footer class="center bg-dark">
        <p>Get2It &copy; 2019</p>
      </footer>
</body>
</html>