
body {
	background: rgba(0, 0, 0, 0.9);
	margin: 0;
	color: #fff;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  .showcase::after {
	content: '';
	height: 100vh;
	width: 100%;
	background-image: url(../Images/background.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	display: block;
	filter: blur(10px);
	-webkit-filter: blur(10px);
	transition: all 1000ms;
  }
  
  .showcase:hover::after {
	filter: blur(0px);
	-webkit-filter: blur(0px);
  }
  
  .showcase:hover .content {
	filter: blur(2px);
	-webkit-filter: blur(2px);
  }
  
  .content {
	position: absolute;
	z-index: 1;
	top: 10%;
	left: 50%;
	margin-top: 105px;
	margin-left: -145px;
	width: 300px;
	height: 350px;
	text-align: center;
	transition: all 1000ms;
  }
  
  .content .logo {
	height: 180px;
	width: 180px;
  }
  
  .content .title {
	font-size: 2.2rem;
	margin-top: 1rem;
	font-family: font-family: 'Baloo', cursive;	
  }
  
  .content .text {
	line-height: 1.7;
	margin-top: 1rem;
  }
  
  .container {
	max-width: 960px;
	margin: auto;
	overflow: hidden;
	padding: 4rem 1rem;
  }
  
  .grid-3 {
	display: grid;
	grid-gap: 20px;
	grid-template-columns: repeat(3, 1fr);
  }
  
  .grid-2 {
	display: grid;
	grid-gap: 20px;
	grid-template-columns: repeat(2, 1fr);
  }
  
  .center {
	text-align: center;
	margin: auto;
  }
  
  .bg-light {
	background: #f4f4f4;
	color: #333;
  }
  
  .bg-dark {
	background: #333;
	color: #f4f4f4;
  }
  
  footer {
	padding: 2.2rem;
  }
  
  footer p {
	margin: 0;
  }
  
  /* Small Screens */
  @media (max-width: 560px) {
	.showcase::after {
	  height: 50vh;
	}
  
	.content {
	  top: 5%;
	  margin-top: 5px;
	}
  
	.content .logo {
	  height: 140px;
	  width: 140px;
	}
  
	.content .text {
	  display: none;
	}
  
	.grid-3,
	.grid-2 {
	  grid-template-columns: 1fr;
	}
  
	.services div {
	  border-bottom: #333 dashed 1px;
	  padding: 1.2rem 1rem;
	}
  }
  
  /* Landscape */
  @media (max-height: 500px) {
	.content .title,
	.content .text {
	  display: none;
	}
  
	.content {
	  top: 0;
	}
  }
.title{
	font-weight: bold;
	text-transform: uppercase;
}
.cf:before, .cf:after {
  content:" ";
  display: table;
}
.cf:after {
  clear: both;
}
.cf {
  *zoom: 1;
}
.menu {
  list-style:none;
  margin: 50px auto;
  width: 800px;
  width: -moz-fit-content;
  width: -webkit-fit-content;
  width: fit-content;
}
.menu > li {
  background: #34495e;
  float: left;
  position: relative;
  -webkit-transform: skewX(25deg);
}
.menu a {
  display: block;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  font-family: Arial, Helvetica;
  font-size: 14px;
}
.menu li:hover {
  background: #e74c3c;
}
.menu > li > a {
  -webkit-transform: skewX(-25deg);
  padding: 1em 2em;
}
/* Dropdown */
.submenu {
  position: absolute;
  width: 200px;
  left: 50%;
  margin-left: -100px;
  -webkit-transform: skewX(-25deg);
  -webkit-transform-origin: left top;
}
.submenu li {
  background-color: #34495e;
  position: relative;
  overflow: hidden;
}
.submenu > li > a {
  padding: 1em 2em;
}
.submenu > li::after {
  content:'';
  position: absolute;
  top: -125%;
  height: 100%;
  width: 100%;
  box-shadow: 0 0 50px rgba(0, 0, 0, .9);
}
/* Odd stuff */
.submenu > li:nth-child(odd) {
  -webkit-transform: skewX(-25deg) translateX(0);
}
.submenu > li:nth-child(odd) > a {
  -webkit-transform: skewX(25deg);
}
.submenu > li:nth-child(odd)::after {
  right: -50%;
  -webkit-transform: skewX(-25deg) rotate(3deg);
}
/* Even stuff */
.submenu > li:nth-child(even) {
  -webkit-transform: skewX(25deg) translateX(0);
}
.submenu > li:nth-child(even) > a {
  -webkit-transform: skewX(-25deg);
}
.submenu > li:nth-child(even)::after {
  left: -50%;
  -webkit-transform: skewX(25deg) rotate(3deg);
}
/* Show dropdown */
.submenu, .submenu li {
  opacity: 0;
  visibility: hidden;
}
.submenu li {
  transition: .2s ease -webkit-transform;
}
.menu > li:hover .submenu, .menu > li:hover .submenu li {
  opacity: 1;
  visibility: visible;
}
.menu > li:hover .submenu li:nth-child(even) {
  -webkit-transform: skewX(25deg) translateX(15px);
}
.menu > li:hover .submenu li:nth-child(odd) {
  -webkit-transform: skewX(-25deg) translateX(-15px);
}
.aboutus{
	margin-left: -30em;
	margin-top: -7em;
}

.registerA{
	text-decoration: none;
	color: white;
	font-weight: bold;
	font-size: 1.5em;
}
.btn{
	background: transparent;
	text-decoration: none;
	color: white;
	font-weight: bold;
	text-transform: uppercase;
}
/* Developers */
figure { 
  width: 250px;
}

.zoom-image:hover {
  transition: all 200ms linear;
  transform: scale(1.5); 
  opacity: 1; 
  z-index: 99;
}

.zoom-image { 
  opacity: 1;
  transform: scale(1.0); 
  transition: all 500ms linear; 
  position: relative;
  width: 250px;
  float: left;
  z-index: 1;
  margin: 10px;
}

/* Included color classes.. 
	.red 
	.blue 
	.yellow 
*/
@import url(https://fonts.googleapis.com/css?family=Raleway:400,800);
figure.snip1104 {
  font-family: 'Raleway', Arial, sans-serif;
  position: relative;
  overflow: hidden;
  margin: 10px;
  min-width: 220px;
  max-width: 310px;
  max-height: 220px;
  width: 100%;
  background: #000000;
  color: #ffffff;
  text-align: center;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}

figure.snip1104 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

figure.snip1104 img {
  max-width: 100%;
  position: relative;
  opacity: 0.4;
}

figure.snip1104 figcaption {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

figure.snip1104 h2 {
  position: absolute;
  left: 40px;
  right: 40px;
  display: inline-block;
  background: #31293f;
  -webkit-transform: skew(-10deg) rotate(-10deg) translate(0, -50%);
  transform: skew(-10deg) rotate(-10deg) translate(0, -50%);
  padding: 12px 5px;
  margin: 0;
  top: 50%;
  text-transform: uppercase;
  font-weight: 400;
}

figure.snip1104 h2 span {
  font-weight: 800;
}

figure.snip1104:before {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  content: '';
  background: #ffffff;
  position: absolute;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-transform: rotate(110deg) translateY(-50%);
  transform: rotate(110deg) translateY(-50%);
}

figure.snip1104 a {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  z-index: 1;
}

figure.snip1104.blue {
  background: #123851;
}

figure.snip1104.blue h2 {
  background: #0a212f;
}

figure.snip1104.red {
  background: #581a14;
}

figure.snip1104.red h2 {
  background: #36100c;
}

figure.snip1104.yellow {
  background: #7f5006;
}

figure.snip1104.yellow h2 {
  background: #583804;
}

figure.snip1104:hover img,
figure.snip1104.hover img {
  opacity: 1;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

figure.snip1104:hover h2,
figure.snip1104.hover h2 {
  -webkit-transform: skew(-10deg) rotate(-10deg) translate(-150%, -50%);
  transform: skew(-10deg) rotate(-10deg) translate(-150%, -50%);
}

figure.snip1104:hover:before,
figure.snip1104.hover:before {
  -webkit-transform: rotate(110deg) translateY(-150%);
  transform: rotate(110deg) translateY(-150%);
}
.aboutUs {
  background-color: #212121;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: wrap;
  margin: 0;
  height: 100%;
}
